@model ModelsEF.Model.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <dl class="dl-horizontal">
        <div class="col-lg-12" form-group>
            <div class="col-md-6">
                @Html.ActionLink("Quay lai", "Index", "Product", new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="col-lg-12" form-group, style="margin-top: 15px">
            <table class="table">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ID)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ID)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.UnitCost)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.UnitCost)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Quanlity)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Quanlity)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Status)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Status)
                    </td>
                </tr>
            </table>
        </div>
    </dl>
</div>