@model PagedList.IPagedList<ModelsEF.Model.UserAccount>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
            {
    <div class="col-lg-12 form-group">
        <div class="col-md-6">
            <input type="text" value="@ViewBag.SearchingString" name="SearchingString" placeholder="Nhập từ khóa cần tìm kiếm" class="form-control" />
        </div>
        <div class="col-md-6">
            <input type="submit" value="Tìm kiếm" class="btn btn-danger" />
        </div>
    </div>

            }
    <div class=" col-lg-12 form-group">
        <table class="table">
            <tr>
                <th>
                    Mã người dùng
                </th>
                <th>
                    Tên người dùng
                </th>
                <th>
                   Mật khẩu
                </th>
                <th>
                    Trạng thái
                </th>
                <th> Thao tác</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>

                @Html.ActionLink("Xóa ", "Delete", new { id = item.ID })
            </td>
        </tr>
            }

        </table>
 @Html.PagedListPager(Model, page => Url.Action("Index",new {page, @searchString= @ViewBag.SearchString}))
</div>